.formDesign {
  display: flex;
  flex-direction: column;
}

.formDesign input {
  padding: 20px;
  margin-top: 5px;
  width: 280px;
}

.compraOk h4 {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.maincontainer {
  background-color: blanchedalmond;
}
