.card {
  width: 40%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #e6c7ea !important;
  
}

.item-card {
  display: flexbox;
  background-color: #e6c7ea;
  color: rgb(24, 24, 24);
  border-color: black;
  padding: 20px;
  border-radius: 20px;
}
