.card {
  width: 70%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
  background-color: rgb(125, 136, 41);
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  margin-left: 20px;
  border-radius: 20px;
}

.item-card {
  display: flexbox;
  background-color:#c7ccea;
  color:black;
  border-color: black;
  padding: 40px;
  border-radius: 20px;
}

