.cards-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-image: url("https://res.cloudinary.com/dtgaqvham/image/upload/v1686886726/perropasto_lkcyst.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 