* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: relative;
  background-color: rgb(91, 195, 91);
  padding: 5px;
}
nav span {
  position: absolute;
}

.nav img {
  width: 50px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

nav ul li {
  margin-right: 30px;
  margin-left: 10px;
  list-style: none;
  color: rgb(96, 69, 39);
  font-size: large;
}

nav ul li:hover {
  color: rgb(181, 20, 25);
}
