:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-repeat: no-repeat;
  background-size: cover;
  color:rgb(52, 49, 49);
  background-color: #f9eeee;
  background-position: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color:brown !important;
  text-decoration: none !important;
}
a:hover {
  color: #da7032;
}

* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 20px !important;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #656fdb;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.estilocarrito{
  justify-content: center;
  padding: 10px;
  background-color: rgb(155, 159, 61);
  background-position: center;
  background-repeat: no-repeat;
  background-size:auto;
  margin-left: 20px;
  border-radius: 20px
  }

  
